@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveLink {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateY(5rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 1080px) {
  br {
    display: none; } }

html {
  font-size: 62.5%; }

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #24252c, #34353e); }

.wrapper {
  -webkit-box-shadow: 5px 8px 10px 7px rgba(0, 0, 0, 0.56);
  box-shadow: 5px 8px 10px 7px rgba(0, 0, 0, 0.56);
  background-image: url(../img/background.png);
  width: 144rem;
  max-width: 100%;
  margin: auto; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #F6F6F6;
  line-height: 1.95rem;
  font-size: 1.6rem; }
  @media screen and (max-width: 425px) {
    body {
      font-size: 1.3rem;
      line-height: 2.08rem;
      font-weight: 200; } }

.heading__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 5rem;
  letter-spacing: -0.08em;
  text-align: left; }
  @media screen and (max-width: 1400px) {
    .heading__name {
      line-height: 6rem; } }
  @media screen and (max-width: 900px) {
    .heading__name {
      line-height: 6rem;
      letter-spacing: -0.04em;
      font-weight: 600; } }
  @media screen and (max-width: 500px) {
    .heading__name {
      font-size: 5rem; } }
  @media screen and (max-width: 425px) {
    .heading__name {
      font-size: 2.5rem; } }

.header__prof--text {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem; }
  @media screen and (max-width: 425px) {
    .header__prof--text {
      font-size: 1.6rem;
      line-height: 1.95rem; } }

.header__contacts--text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.1rem;
  padding-bottom: 3rem; }
  @media screen and (max-width: 425px) {
    .header__contacts--text {
      font-size: 1.3rem;
      line-height: 1.58rem;
      border-bottom: 1.5px solid rgba(247, 247, 247, 0.3);
      width: 100%;
      padding-bottom: .9rem; } }

.header__link--info-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #F6F6F6;
  text-decoration: none; }
  @media screen and (max-width: 425px) {
    .header__link--info-text {
      font-size: 1.3rem;
      line-height: 1.58rem; } }

.header__link--info-link {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #F6F6F6;
  text-decoration: none; }
  .header__link--info-link:hover {
    color: #b1b1b1;
    transition: .4s; }
  @media screen and (max-width: 425px) {
    .header__link--info-link {
      font-size: 1.3rem;
      line-height: 1.58rem; } }

.header__description--text {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  animation-name: opacity;
  animation-duration: 3s; }
  @media screen and (max-width: 425px) {
    .header__description--text {
      font-size: 1.3rem;
      line-height: 2.08rem;
      font-weight: 300; } }

.experience__text {
  margin: 11.5rem 14rem 1.2rem;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 800px) {
    .experience__text {
      border-bottom: 1.5px solid rgba(247, 247, 247, 0.3);
      width: 90%;
      margin: 11.5rem auto 1.2rem;
      padding-bottom: 1rem; } }
  @media screen and (max-width: 600) {
    .experience__text {
      display: inline-block;
      margin: auto; } }
  @media screen and (max-width: 425px) {
    .experience__text {
      font-size: 1.3rem;
      line-height: 1.85rem;
      font-weight: 500;
      margin: 4.6rem auto 0; } }

.experience__work--topic {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 425px) {
    .experience__work--topic {
      font-size: 1.3rem;
      line-height: 1.95rem;
      font-weight: 500; } }

.experience__work--text {
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 2rem; }
  @media screen and (max-width: 425px) {
    .experience__work--text {
      padding-top: .6rem; } }

.education__text {
  margin: 8rem 28rem 3rem;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 800px) {
    .education__text {
      border-bottom: 1.5px solid rgba(247, 247, 247, 0.3);
      width: 90%;
      margin: 11.5rem auto 1.2rem;
      padding-bottom: 1rem; } }
  @media screen and (max-width: 600) {
    .education__text {
      display: inline-block;
      margin: auto; } }
  @media screen and (max-width: 425px) {
    .education__text {
      font-size: 1.3rem;
      line-height: 1.95rem;
      font-weight: 500;
      margin: 3.4rem auto 0; } }

.education__info--topic {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 425px) {
    .education__info--topic {
      font-size: 1.3rem;
      line-height: 1.69rem;
      font-weight: 500; } }

.education__info--text {
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 425px) {
    .education__info--text {
      font-size: 1.3rem;
      line-height: 2.08rem;
      font-weight: 300; } }

.footer__text {
  width: 40%;
  margin: 7rem auto 0;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .footer__text {
      width: 90%;
      border-bottom: 1.5px solid rgba(247, 247, 247, 0.3);
      text-align: left;
      padding-bottom: 1rem; } }
  @media screen and (max-width: 425px) {
    .footer__text {
      font-size: 1.3rem;
      line-height: 1.58rem;
      font-weight: 500; } }

.footer__wrapper--name {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left; }
  @media screen and (max-width: 425px) {
    .footer__wrapper--name {
      font-size: 1.3rem;
      line-height: 2.08rem;
      font-weight: 300; } }

.education__wrapper {
  display: flex;
  flex-direction: column; }

.education__info {
  width: 50%;
  flex: 1;
  padding: 2rem;
  margin-left: 40%;
  overflow: hidden; }
  @media screen and (max-width: 720px) {
    .education__info {
      width: 90%;
      margin: auto; } }
  @media screen and (max-width: 423px) {
    .education__info {
      padding: 1.2rem; } }

.education__border {
  border-bottom: 1px solid rgba(247, 247, 247, 0.3);
  width: 30%;
  margin-left: 41.5%; }
  @media screen and (max-width: 720px) {
    .education__border {
      display: none; } }

.experience__wrapper {
  display: flex;
  flex-direction: column; }

.experience__work {
  width: 50%;
  padding: 3.8rem;
  flex: 1;
  margin-left: 32%; }
  @media screen and (max-width: 800px) {
    .experience__work {
      margin: auto;
      width: 62%;
      padding: 2rem; } }
  @media screen and (max-width: 720px) {
    .experience__work {
      margin: auto;
      width: 70%; } }
  @media screen and (max-width: 650px) {
    .experience__work {
      margin: auto;
      width: 90%; } }
  @media screen and (max-width: 423px) {
    .experience__work {
      margin: auto;
      padding: 1.2rem 0;
      width: 90%; } }

.experience__border {
  border: 1px solid rgba(247, 247, 247, 0.3);
  width: 29%;
  margin-left: 19%; }
  @media screen and (max-width: 800px) {
    .experience__border {
      visibility: hidden; } }

.footer {
  display: flex;
  flex-direction: column; }
  .footer .wrapper--star-container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 5rem 4rem; }
    @media screen and (max-width: 1250px) {
      .footer .wrapper--star-container {
        padding: 5rem 3rem 2rem; } }
    @media screen and (max-width: 1080px) {
      .footer .wrapper--star-container {
        padding: 5rem 1.3rem 2rem; } }
    @media screen and (max-width: 760px) {
      .footer .wrapper--star-container {
        margin: 0;
        padding: 1.6rem 5%; } }
  .footer__wrapper {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 760px) {
      .footer__wrapper {
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: flex-start; } }
    .footer__wrapper--star {
      height: 4rem;
      width: 4rem;
      padding: .5rem;
      margin-bottom: .8rem; }
      @media screen and (max-width: 1080px) {
        .footer__wrapper--star {
          height: 3.2rem;
          width: 3.2rem; } }
      @media screen and (max-width: 820px) {
        .footer__wrapper--star {
          height: 3rem;
          width: 3rem; } }
      @media screen and (max-width: 420px) {
        .footer__wrapper--star {
          height: 2rem;
          width: 2rem;
          padding: .3rem;
          margin-bottom: .8rem; } }

.header {
  display: flex; }
  @media screen and (max-width: 912px) {
    .header {
      flex-direction: column; } }
  .header__description {
    width: 77%;
    margin: auto; }
    @media screen and (max-width: 650px) {
      .header__description {
        width: 90%;
        margin: 0 auto; } }
  .header__photo {
    max-width: 100%;
    border-radius: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
    @media screen and (max-width: 912px) {
      .header__photo {
        display: none; } }
    .header__photo--medium {
      max-width: 100%;
      border-radius: 18%;
      animation-name: moveInLeft;
      animation-duration: 1s;
      display: none; }
      @media screen and (max-width: 912px) {
        .header__photo--medium {
          display: block; } }
  .header__image {
    display: inline-block;
    margin: 1rem 2rem; }
    @media screen and (max-width: 912px) {
      .header__image {
        margin: 0 auto;
        height: 60rem; } }
    @media screen and (max-width: 900px) {
      .header__image {
        margin: 0 auto;
        height: 68rem; } }
    @media screen and (max-width: 600px) {
      .header__image {
        margin: 0 auto;
        height: 63rem; } }
    @media screen and (max-width: 580px) {
      .header__image {
        margin: 0 auto;
        height: 61rem; } }
    @media screen and (max-width: 560px) {
      .header__image {
        margin: 0 auto;
        height: 59rem; } }
    @media screen and (max-width: 540px) {
      .header__image {
        margin: 0 auto;
        height: 57rem; } }
    @media screen and (max-width: 520px) {
      .header__image {
        margin: 0 auto;
        height: 57rem; } }
    @media screen and (max-width: 500px) {
      .header__image {
        margin: 0 auto;
        height: 52rem; } }
    @media screen and (max-width: 460px) {
      .header__image {
        margin: 0 auto;
        height: 48rem; } }
    @media screen and (max-width: 425px) {
      .header__image {
        margin: 0 auto;
        height: 42rem; } }
    @media screen and (max-width: 400px) {
      .header__image {
        margin: 0 auto;
        height: 40rem; } }
    @media screen and (max-width: 380px) {
      .header__image {
        margin: 0 auto;
        height: 37rem; } }
    @media screen and (max-width: 360px) {
      .header__image {
        margin: 0 auto;
        height: 35rem; } }
  .header__info {
    display: inline-block;
    margin: 6rem 5rem;
    animation-name: moveInRight;
    animation-duration: 1s; }
    @media screen and (max-width: 912px) {
      .header__info {
        width: 76%;
        margin: 0 auto; } }
    @media screen and (max-width: 650px) {
      .header__info {
        width: 90%;
        margin: auto; } }
    @media screen and (max-width: 425px) {
      .header__info {
        width: 90%;
        margin: auto; } }
  .header__name {
    padding-bottom: 5rem; }
    @media screen and (max-width: 425px) {
      .header__name {
        padding: 0; } }
  .header__contacts {
    padding: 15rem 0 5rem; }
    @media screen and (max-width: 1400px) {
      .header__contacts {
        padding: 7rem 0 5rem; } }
    @media screen and (max-width: 425px) {
      .header__contacts {
        padding: 3.4rem 0; } }
  .header__link--info {
    padding: 2.5rem 0;
    width: 65%; }
    @media screen and (max-width: 425px) {
      .header__link--info {
        padding: 1rem 0; } }
  .header__link--info:not(:last-child) {
    border-bottom: 1px solid rgba(247, 247, 247, 0.3); }
    @media screen and (max-width: 425px) {
      .header__link--info:not(:last-child) {
        border: none; } }
